<!DOCTYPE html>
<html>
    <head>
        <!-- Change this if you want to allow scaling -->
        <meta name="viewport" content="width=default-width; user-scalable=no" />

        <meta http-equiv="Content-type" content="text/html; charset=utf-8">

        <title>Upcoming</title>

        <!-- iPad/iPhone specific css below, add after your main css >
        <link rel="stylesheet" media="only screen and (max-device-width: 1024px)" href="ipad.css" type="text/css" />
        <link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="iphone.css" type="text/css" />
        -->

        <script type="text/javascript" charset="utf-8" src="phonegap.js"></script>

        <!-- <script src="http://code.jquery.com/jquery-1.4.4.js"></script> -->
        <script src="jquery-1.4.4.min.js"></script>
        <script src="jquery.jqote2.min.js"></script>
        <script src="techup.js"></script>

        <link rel="stylesheet" href="jquery.mobile-1.0a2.css" type="text/css" />
        <!-- <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.css" /> -->

        <!-- <script src="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.js"></script> -->
        <script src="jquery.mobile-1.0a2.min.js"></script>

        <script type="text/x-jqote-template" id="detailViewTemplate">
        <![CDATA[
            <h3><%= this.name %></h3>
            <span><%= (this.dateFrom) ? this.dateFrom.date : '' %></span><br>
            <span><%= this.location %></span><br>
            <span><a href="<%= this.link %>"><%= this.link %></a></span>
            <p><%= this.description %></p>
            <% if (this.price) { %>
                <p>
                    <strong>Price:</strong> <span><%= this.price %> CHF</span>
                </p>
            <% } %}
            <br />
            <strong>Related Meetups:</strong><br>
            <div class="meetupTags">
            <% for (var i=1, cnt=this.tags.length; i<cnt; i++) { %>
                <span><%= this.tags[i].name %></span>
            <% } %>
            </div>
        ]]>
        </script>

        <link rel="stylesheet" href="techup.css" type="text/css" />
    </head>
    <body>
        <div data-role="page" id="foo">

            <div data-role="header">
                <h1>Upcoming</h1>
            </div>

            <div data-role="content" >
                <ul data-role="listview" data-theme="c" id="content">
                </ul>
            </div>

            <!-- <div data-role="footer" data-position="fixed">
                <h4></h4>
            </div> -->
        </div>

        <div data-role="page" id="detailview">
            <div data-role="header">
                <h1>&nbsp;</h1>
            </div>

            <div data-role="content">
                <div id="detailViewContent"></div>
                <ul data-role="listview" data-theme="c" data-inset="true">
                    <li><a href="#map" id="showMap">Map</a></li>
                    <!-- <li><a href="#attendees" id="showAttendees">Attendees</a></li> -->
                </ul>
            </div>

            <!-- <div data-role="footer" data-position="fixed">
                <h4>Page Footer</h4>
            </div> -->
        </div>

        <div data-role="page" id="map">
            <div data-role="header">
                <h1>&nbsp;</h1>
            </div>
            <div data-role="content">
                <small>Certified Java Enterprise Architect Bootcamp</small>
                <h3>Technopark, Technoparkstrasse 1, Zürich</h3>
                <a href="/javascript:Device.exec('openmap:q=roma');">Open in Google Maps</a>
                <div id="meetupMap" style="width:100%; height:260px">
                </div>
            </div>
        </div>

        <div data-role="page" id="attendees">
            <div data-role="header">
                <h1>&nbsp;</h1>
            </div>
            <div data-role="content">
                <small>Certified Java Enterprise Architect Bootcamp</small>
                <h3>Attendees</h3>

                <ul class="attendeelist "data-role="listview" data-theme="c" data-inset="true">
                    <li ><img src="http://img.tweetimag.es/i/bratwurstkomet_m" class="ui-li-icon"><a href="#foo">Bratwurstkomet</a></li>
                    <li ><img src="http://img.tweetimag.es/i/bratwurstkomet_m" class="ui-li-icon"><a href="#foo">Bratwurstkomet</a></li>
                    <li ><a href="#foo"><img src="http://img.tweetimag.es/i/bratwurstkomet_m" class="ui-li-icon">Bratwurstkomet</a></li>
                </ul>
            </div>
        </div>

    </body>
</html>